/*===============================
      TABLE OF CONTENTS

      1. Sticky Header
      2. Menu
      3. Site Logo
================================*/




/*===============================
      1. Sticky Header
================================*/

#site-header {
  position: sticky;
  top: 0px;
  z-index: 99998;
  background-image: linear-gradient(#ffffff80, white);
  background-color: #fff0;
  transition: 0.5s;
}

#site-header:hover {
  background-color: white;
  transition: 0.5s;
}



/*===============================
      2. Menu
================================*/

.site-navigation {
  align-items: end;
  font-size: 16px;
}

.menu-item {
  height: 35px;
  border-bottom-style: solid;
  border-width: 2px;
  margin-left: 5px;
  margin-right: 5px;
  border-color: #fff0;
  transition: 0.5s;
}
  
.menu-item:hover {
  border-color: #99b545;
  transition: 1s;
}

.current_page_item {
  border-color: #99b545;

}

p.site-description {
  font-size: small;
  letter-spacing: 0.2px;
  padding-left: 10px;
  word-spacing: 1px;
  line-height: 10px;
  margin-top: -5px;
}




/*===============================
      3. Site Logo
================================*/

.site-logo img{
  max-height: 43px;
}