/*===============================
    TABLE OF CONTENTS

    	1. Sticky Header
    	2. Menu
    	3. Site Logo
    	4. Site Navigation Cards
	5. Footer Signup form
	6. Custom list
	7. Elementor Slideshow
	8. Interactive Maps
	9. Post Favorite Button
	10. World Map
================================*/



/*===============================
		1. Sticky Header
================================*/

	#site-header {
		position: sticky;
		top: 0px;
		z-index: 99997;
		background-image: linear-gradient(#ffffff80, white);
		background-color: #fff0;
		transition: 0.5s;
	}
  
	#site-header:hover {
		background-color: white;
		transition: 0.5s;
	}

	.site-navigation ul.menu li ul {
		background: none;
		min-width: 270px;
		padding-top: 10px;
	}
  
	.menu-item li {
		background: #fff;
	}

	.site-header .header-inner {
		margin-inline-start: 5vw;
	}



/*page-id-63971*/

	.page-id-68228 #site-header {
		background-image: linear-gradient(#161d0010, #161D00);
		background-color: #161D00;
		transition: 0.5s;
	}
  
	.page-id-68228 #site-header:hover {
		background-color: #161D00;
		transition: 0.5s;
	}
  
	.page-id-68228 .site-description {
		color: #99b545;
	}


  
/*===============================
		2. Menu
================================*/
  
 	.site-navigation {
		align-items: end;
		font-size: 16px;
	}
  
 	@media (min-width: 993px) {
		.menu-item {
			border-bottom-style: solid !important;
			border-width: 2px !important;
			margin-left: 5px;
			margin-right: 5px;
			border-color: #fff0 !important;
			transition: 0.5s;
		}
 	}
	

	.menu-item:hover {
		border-bottom-color: #99b545 !important;
		transition: 1s;
	}
  
	/*.current_page_item {
		border-color: #99b545;
	}*/
  
	p.site-description {
		font-size: small;
		letter-spacing: 0.2px;
		padding-left: 10px;
		word-spacing: 1px;
		line-height: 10px;
		margin-top: -5px;
  	}
  
	.site-navigation ul.menu li.menu-item-has-children::after {
		font-size: 1em;
	}

	.site-navigation ul.menu ul.sub-menu li.menu-item-has-children::after {
		margin-top: 20px;
	}

	.site-navigation-dropdown ul.menu li.current-menu-item a {
		color: #55595c;
		background: #fff;
	}





  
/*===============================
		3. Site Logo
================================*/
  
	.site-logo img{
		max-height: 43px;
  	}
  
  
  
  
/*===============================
		4. Site Navigation Cards
  
			4.1 Style-1
			4.2 Style-2
			4.3 Link Colours
			4.4 Video Cards
================================*/
  
  
/*-------------------------------
			4.1 Style-1
-------------------------------*/
  
	@media (min-width: 993px) {
		.bezier-cubic-card {
			color: rgb(240, 240, 240);
			filter: grayscale(.5) brightness(0.9);
			transition: 0.3s;
			transition-timing-function: cubic-bezier(.5,0,.5,1);
		}
	  
		.bezier-cubic-card:hover {
			color: #99b545;
			opacity: 0.9;
			filter: none;
			margin-top: -15px;
			padding-bottom: 15px;
			transition: 0.3s;
			transition-delay: 0.1s;
			transition-timing-function: cubic-bezier(.5,0,.5,1);
		}
	}
  
  
/*-------------------------------
			4.2 Style-2
-------------------------------*/
  
	@media (min-width: 993px) {
		.bezier-cubic-card-2 {
			color: rgb(240, 240, 240);
			filter: grayscale(.5) brightness(0.9);
			width: auto;
			transition: 0.3s;
			transition-delay: 0.1s;
			transition-timing-function: cubic-bezier(.64,1.61,.31,.72);
		}
  
		.bezier-cubic-card-2:hover {
			color: #99b545;
			opacity: 1;
			filter: none;
			width: 30%;
			transition: 0.3s;
			transition-delay: 0.1s;
			transition-timing-function: cubic-bezier(.64,1.61,.31,.72);
		}
	}
  
  

/*-------------------------------
			4.3 Link Colours
-------------------------------*/

	.tin-custom-link li, a:link, a:visited{
		color: #99B545;
	}

	.tin-custom-link a:link:hover{
		text-decoration-line: underline;
	}





/*-------------------------------
			4.4 Video Cards
-------------------------------*/
  
@media (min-width: 993px) {
	.tin-video-card {
		transition: 0.3s;
		transition-timing-function: cubic-bezier(.5,0,.5,1);
	}
  
	.tin-video-card:hover {
		margin-top: -10px;
		padding-bottom: 10px;
		transition: 0.3s;
		transition-delay: 0.1s;
		transition-timing-function: cubic-bezier(.5,0,.5,1);
	}
}





/*===============================
		5. Footer Signup form

	Element had fixed width.
	Results in horizontal scroll.
================================*/

	#mc_embed_signup {
		width: 100% !important;
	}




/*===============================
		6. Custom list
================================*/

	.tin-custom-ul ul {
		list-style: none;
	}
	  
	.tin-custom-ul ul li:before {
		content: '☐ ';
	}





/*===============================
		7. Elementor Slideshow
================================*/

	.elementor-slideshow__header {
		z-index: 99998;
	}

	.dialog-lightbox-close-button {
		color: #99b545 !important;
	}





/*===============================
		8. Interactive Maps

			8.1 Map Default
			8.2 Map Links
================================*/


/*-------------------------------
			8.1 Map Default
-------------------------------*/

.tin-map-footer {
	fill: white;
	stroke: #99b545;
	stroke-width: 2px;
}

.tin-map-footer:hover {
	fill: #ffffff90;
	stroke: #99b545;
	stroke-width: 2px;
}

.tin-map-region {
	fill: #99b54550;
	stroke: #99b545;
	stroke-width: 2px;
}

.tin-map-region:hover {
	fill: #99b545;
}

.tin-map-region-default {
	fill: white;
	stroke: #99b545;
	stroke-width: 2px;
}

.tin-map-region-active {
	fill: #99b545;
	stroke: white;
	stroke-width: 2px;
}

#tin-map-background {
	background-image: url("https://thisisnamibia.com/wp-content/uploads/2024/08/TIN_2024_01_026-scaled-e1723018270876-1024x683.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.tin-map-card {
	padding: 10px;
	margin: -19px;
	color: white;
}

.tin-map-card:hover {
	background-color: white;
	color:#99b545;
}


/*-------------------------------
			8.2 Map Links
-------------------------------*/

:has(#tin-map-card-1:hover) :is(#tin-m7) {
	fill: #99b545e7;
}

:has(#tin-map-card-2:hover) :is(#tin-m1) {
	fill: #99b545e7;
}

:has(#tin-map-card-3:hover) :is(#tin-m2) {
	fill: #99b545e7;
}

:has(#tin-map-card-4:hover) :is(#tin-m4) {
	fill: #99b545e7;
}

:has(#tin-map-card-5:hover) :is(#tin-m6) {
	fill: #99b545e7;
}

:has(#tin-map-card-6:hover) :is(#tin-m5) {
	fill: #99b545e7;
}

:has(#tin-map-card-7:hover) :is(#tin-m8) {
	fill: #99b545e7;
}

:has(#tin-map-card-8:hover) :is(#tin-m3) {
	fill: #99b545e7;
}

:has(#tin-map-card-9:hover) :is(#tin-m9) {
	fill: #99b545e7;
}



/*-----------------------------------------------------------
				REVERSE
-----------------------------------------------------------*/


:has(#tin-m7:hover) :is(#tin-map-card-1) {
	color:#99b545;
	margin-top: -15px;
	padding-bottom: 15px;
	filter: none;
}

:has(#tin-m1:hover) :is(#tin-map-card-2) {
	color:#99b545;
	margin-top: -15px;
	padding-bottom: 15px;
	filter: none;
}

:has(#tin-m2:hover) :is(#tin-map-card-3) {
	color:#99b545;
	margin-top: -15px;
	padding-bottom: 15px;
	filter: none;
}

:has(#tin-m4:hover) :is(#tin-map-card-4) {
	color:#99b545;
	margin-top: -15px;
	padding-bottom: 15px;
	filter: none;
}

:has(#tin-m6:hover) :is(#tin-map-card-5) {
	color:#99b545;
	margin-top: -15px;
	padding-bottom: 15px;
	filter: none;
}

:has(#tin-m5:hover) :is(#tin-map-card-6) {
	color:#99b545;
	margin-top: -15px;
	padding-bottom: 15px;
	filter: none;
}

:has(#tin-m8:hover) :is(#tin-map-card-7) {
	color:#99b545;
	margin-top: -15px;
	padding-bottom: 15px;
	filter: none;
}

:has(#tin-m3:hover) :is(#tin-map-card-8) {
	color:#99b545;
	margin-top: -15px;
	padding-bottom: 15px;
	filter: none;
}

:has(#tin-m9:hover) :is(#tin-map-card-9) {
	color:#99b545;
	margin-top: -15px;
	padding-bottom: 15px;
	filter: none;
}





/*===============================
		9. Post Favorite Button
================================*/
	

.simplefavorite-button, .post-tags {
	margin-left: 20px;
	margin-bottom: 20px;
}



/*===============================
		10. World Map
================================*/

.worldcountry {
    fill: #CCCCCC;
    stroke-width: 0.4;
    stroke: #5f5f5f;
}

#NA {
    fill: #C0D03C;
}

:has(#africancountries:hover) :is(#BJ, #BF, #BI, #CV, #CM, #CF, #TD, #KM, #CI, #DJ, #GQ, #ER, #GA, #GM, #GH, #GN, #GW, #LR, #MG, #MR, #NE, #RW, #ST, #SL, #TG, #TN, #EH, #UG) {
	fill: #F48C26;
}

:has(#othercountries:hover) :is(#AR, #AM, #AU, #AT, #AZ, #BY, #BE, #BG, #CA, #KH, #CL, #HR, #CZ, #DK, #EC, #EE, #FI, #FR, #DE, #GR, #HU, #IS, #IE, #IL, #IT, #KZ, #KG, #LV, #LI, #LT, #LU, #MX, #MD, #NL, #NZ, #NI, #NO, #PY, #PE, #PL, #PT, #RO, #SG, #SK, #ES, #KR, #SE, #CH, #TJ, #TH, #TR, #TM, #UA, #AE, #GB, #US, #UY, #UZ, #VA, #VE, #VN) {
	fill: #F48C26;
}


/*===============================
		11. Namibia Border Posts Map
================================*/

.borderpost {
    stroke: #C0D03C;
    fill: #C0D03C;
}

:has(#borderposttext1:hover) #borderpost1,
:has(#borderposttext2:hover) #borderpost2,
:has(#borderposttext3:hover) #borderpost3,
:has(#borderposttext4:hover) #borderpost4,
:has(#borderposttext5:hover) #borderpost5,
:has(#borderposttext6:hover) #borderpost6,
:has(#borderposttext7:hover) #borderpost7,
:has(#borderposttext8:hover) #borderpost8,
:has(#borderposttext9:hover) #borderpost9,
:has(#borderposttext10:hover) #borderpost10,
:has(#borderposttext11:hover) #borderpost11,
:has(#borderposttext12:hover) #borderpost12 {
    stroke: #F48C26;
	fill: #F48C26;
}

:has(#borderpost1:hover) #borderposttext1,
:has(#borderpost2:hover) #borderposttext2,
:has(#borderpost3:hover) #borderposttext3,
:has(#borderpost4:hover) #borderposttext4,
:has(#borderpost5:hover) #borderposttext5,
:has(#borderpost6:hover) #borderposttext6,
:has(#borderpost7:hover) #borderposttext7,
:has(#borderpost8:hover) #borderposttext8,
:has(#borderpost9:hover) #borderposttext9,
:has(#borderpost10:hover) #borderposttext10,
:has(#borderpost11:hover) #borderposttext11,
:has(#borderpost12:hover) #borderposttext12 {
    color: #F48C26;
}

[id^="borderposttext"]:hover {
	color: #F48C26;
}

[id^="borderpost"]:hover {
	stroke: #F48C26;
	fill: #F48C26;
}
